@page  "/DetallesLibro/"
@page "/DetallesLibro/{id}"
@inject ILibroServicio LibroServicio
@inject ICiudadServicio CiudadServicio
@inject NavigationManager navigate
<h3>DetallesProducto</h3>
<EditForm Model="@libro" OnValidSubmit="@GuardarLibro">
    <table class="table">
        <tr>
            <td>Name:</td>
            <td><input type="text" @bind="libro.BookName" /></td>
        </tr>
        <tr>
            <td>Categoría:</td>
            <td><input type="text" @bind="libro.Category" /></td>
        </tr>
        <tr>
            <td>Autor:</td>
            <td><input type="text" @bind="libro.Author" /></td>
        </tr>
        <tr>
            <td>Precio Libro:</td>
            <td><input @bind="libro.Price" /></td>
        </tr>
        <tr>
                <td>Ciudad:</td>
                <td  colspan="2">
                    <CtrlUsuarioInputSelect @bind-Value="libro.IdCiudad">
                        <option selected value="">Select</option>
                        @foreach(Ciudad ciudad in ciudades)
                        {
                        <option value="@ciudad.Id">@ciudad.Nombre</option>
                        }
                    </CtrlUsuarioInputSelect>
                </td>

            </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <input type="submit" value="Guardar" class="btn-success" />
                <input type="button" value="Cancelar" class="btn-secondary" @onclick="Cancel" />
            </td>
        </tr>
    </table>

</EditForm>

@code {

    [Parameter]
    public string id { get; set; }
    Libro libro = new Libro();
    List<Ciudad> ciudades = new List<Ciudad>
            {
                new Ciudad{Id=1,Nombre="Valencia"},
                 new Ciudad{Id=2,Nombre="Mérida"},
                  new Ciudad{Id=3,Nombre="León"}
            };



    protected override async Task OnInitializedAsync()
    {
        //ciudades = await CiudadServicio.ObtenerTodosCiudades();
        if (!string.IsNullOrEmpty(id))
        {
            libro = await LibroServicio.ObtenerLibro(id);

        }
    }


    protected async Task GuardarLibro()
    {
        await LibroServicio.GuardarLibro(libro);
        navigate.NavigateTo("/");
    }
    protected void Cancel()
    {
        navigate.NavigateTo("/");
    }
}
